<div class="sidebar"> 
    <div class="nav-adjust"></div>

    <a class="sidebar-item" id="si0" href="/admin">
        <i class="icofont-dashboard-web"></i>
        <span>Dashboard</span>
    </a>  

    <a class="sidebar-item" id="si1" href="/admin/driver-requests">
        <i class="icofont-inbox"></i>
        <span>Driver Requests</span>
    </a> 
    <a class="sidebar-item" id="si2" href="/admin/drivers"> 
        <i class="icofont-vehicle-delivery-van"></i>
        <span>Drivers</span>
    </a>  
    <a class="sidebar-item" id="si3" href="/admin/users">
        <i class="icofont-businessman"></i>
        <span>Users</span>
    </a> 
    <a class="sidebar-item" id="si4" href="/admin/bustime">
        <i class="icofont-businessman"></i>
        <span>Bus Time</span>
    </a> 
    
      
    <a class="sidebar-item mt-5" href="/admin/logout">
        <i class="icofont-logout"></i>
        <span>Logout</span>
    </a>   

</div>