<nav class="navbar  navbar-dark fixed-bottom nav-custom ">

    <a href="/" class="nav-element-body" id="bn1">
        <p class="icofont-industries-4 nav-element-logo text-center"></p>
        <p class="nav-element-name">Ride</p>
    </a> 

    <a href="/driver/history" class="nav-element-body " id="bn2">
        <p class="icofont-chart-growth nav-element-logo text-center"></p>
        <p class="nav-element-name">History</p>
    </a>
  
   
 
  
    <a href="/driver/profile" class="nav-element-body" id="bn5">
        <p class="icofont-business-man nav-element-logo text-center"></p>
        <p class="nav-element-name">My Profile</p>
    </a>      
</nav>