<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bcss/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="/bjs/bootstrap.bundle.min.js"></script>
    <title>GOCABBY</title>
    

</head>
<body>
    <form action="/register" method="post" id="loginForm">
        <div class="container">
          <div class="row mt-5">
            
            <div class="col-12 col-md-6 offset-md-3 mb-auto mt-auto">
              <img src="/logo/white.svg" alt="" style="width: 60%;margin-left:20%;margin-bottom: 30px;">

              <div class="login-body">
                <p class="login-head text-center">User Registration</p>

                <input type="text" name="name" class="form-inp" placeholder="Enter Your Name" required>
                <input type="text" name="phone" class="form-inp" placeholder="Enter 10 Digit Phone Number" required>
                <button type="submit" class="form-btn">REGISTER</button>
              </div>
            </div>
          </div>
        </div>
      </form>   
      
    
</body>
</html>