<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bcss/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="/bjs/bootstrap.bundle.min.js"></script>
    <title>GOCABBY</title>
    

</head>
<body>
    <div class="container">
      <div class="row mt-5" style="height: 90vh;">
        
        <div class="col-12 col-md-6 offset-md-3 mb-auto mt-auto">
          <img src="/logo/white.svg" alt="" style="width: 60%;margin-left:20%;margin-bottom: 30px;">

          <div class="login-body">
            <br>
            <a href="/login">
              <button type="button" class="btn-select">USER</button>
            </a>
            <a href="/driver/login">
              <button type="button" class="btn-select">DRIVER</button>
            </a>
       
          </div>
        </div>
      </div>
    </div>     
</body>
</html>